<% layout('app') -%>
<h1 class="page-header">Login</h1>
<form action="/login" method="POST">
	<input type="hidden" name="destination" value="<%= destination %>">
	<div class="form-group">
		<label for="email">Email: </label>
		<input type="email" class="form-control" name="email" autofocus="true">
	</div>
	<div class="form-group">
		<label for="password">Password: </label>
		<input type="password" class="form-control" name="password">
	</div>
	<div class="form-group">
		<button class="btn btn-primary btn-block" type="submit">Login</button>
	</div>
	<p class="text-small">Don't have an account? <a href="/signup" class="btn-link">Create a new account.</a></p>
</form>