<% layout('admin/app') -%>
<div class="row">
  <div class="col-md-4 col-md-offset-4">     
		<h1 class="text-center">noCommerce</h1>
		<p class="text-center">Simple yet powerfull e-commerce playground.</p>
		<hr />
		<form action="/nc-admin" method="POST">
			<div class="form-group">
				<label for="email">Email: </label>
				<input type="email" class="form-control" name="email">
			</div>
			<div class="form-group">
				<label for="password">Password: </label>
				<input type="password" class="form-control" name="password">
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Login</button>
			</div>
		</form>
		<hr />
		<p class="text-center">&copy; noCommerce 2016.</p>
	</div>
</div>