<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>noCommerece</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <% include ./partials/sidepanel %>
    <% include ./partials/navbar %>

    <div class="container">
      <div class="row">
        <!-- Error message -->
        <div class="col-md-6 col-md-offset-3">          
          <% if(success.length) { %>
            <div class="alert alert-success alert-dismissable">
              <button class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <%= success %>
            </div>
          <% } %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <!-- Error message -->
        <div class="col-md-6 col-md-offset-3">          
          <% if(error.length) { %>
            <div class="alert alert-danger alert-dismissable">
              <button class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <%= error %>
            </div>
          <% } %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">          
          <%- body -%>      
        </div>
      </div>
    </div>

    <% include ./partials/footer %>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
