<% layout('app') -%>

<h1 class="page-header">About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit corrupti omnis, libero error eaque consequatur inventore rem vitae obcaecati architecto soluta dolore, placeat similique quibusdam ipsa, quo perferendis cupiditate aperiam.</p>