<% layout('app') -%>

<div class="panel panel-default">
	<div class="panel-body">
		<form action="/search" method="POST">
			<div class="form-group suggestion-wrapper">
				<input type="search" name="q" id="search" class="form-control" placeholder="Search..." autocomplete="off">
				<div class="suggestions">
					<ul class="list-group" id="suggest">
					</ul>
				</div>
			</div>
		</form>
	</div>
</div>

<% if(searches) { %>
<div class="panel panel-default panel-sm">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-clock-o"></i> RECENT SEARCHES</h3>
	</div>
	<ul class="list-group">
		<% for (var i = 0; i < searches.length; i++) { %>
			<li class="list-group-item"><a href="/search?q=<%= searches[i] %>"><%= searches[i] %></a></li>
		<% } %>
	</ul>
</div>
<% } %>

<div class="panel panel-default panel-sm">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-hashtag"></i> TRENDING</h3>
	</div>
	<ul class="list-group">
		<li class="list-group-item"><a href="">Trending 1</a></li>
		<li class="list-group-item"><a href="">Trending 2</a></li>
		<li class="list-group-item"><a href="">Trending 3</a></li>
	</ul>
</div>
