<% layout('app') -%>

<div class="panel panel-success">
	<div class="panel-heading">
		<div class="panel-header">Hi, <%= auth_user.profile.name %></div>
	</div>
	<div class="panel-body">
		<p>Thank you for purchasing at our store. 😎 </p>
		<p>Do you want to continue <a href="/">shopping?</a></p>
	</div>
</div>