<% layout('admin/app') -%>

<h1 class="page-header">NC Admin</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem iusto quod atque ipsum! Omnis adipisci voluptatum neque deserunt, consequatur magnam esse. Ut praesentium repudiandae ea soluta fugit magnam illum, quas.</p>