<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% if(isAuthenticated) { %>
        <div class="navbar-header">
          <a class="navbar-brand" href="/nc-admin"><i class="fa fa-bars"></i></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/nc-admin/profile"><%= auth_user.profile.name %></a></li>
          <li><a href="/nc-admin/logout"><i class="fa fa-power-off"></i></a></li>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
</nav>
